<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World Data / Cities</title>
    <link rel="stylesheet" type="text/css" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body class="container d-flex flex-column h-100 py-4 gap-2">
    <header class="p-4 rounded bg-dark text-light">
        <h1 data-th-text="${title}"></h1>
    </header>

    <nav class="nav nav-tabs">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/continents">Continents</a>
        <a class="nav-link" href="/countries">Countries</a>
        <a class="nav-link active" aria-current="page" href="/cities">Cities</a>
    </nav>

    <aside class="d-flex gap-2 px-2">
        <div class="flex-grow-1">
            <div data-th-if="${message}" data-th-text="${message}" class="alert alert-info text-center m-0" role="alert"></div>
        </div>
        <div class="d-flex align-items-center">
            <button class="btn btn-primary" type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#cityModal"
                    data-bs-modalTitle="Create City"
                    data-bs-action="save">Create City</button>
        </div>
    </aside>

    <main>
        <table class="table table-hover table-striped">
            <thead class="table-secondary">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Area</th>
                    <th>Population</th>
                    <th>Country</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="city : ${cities}">
                    <td data-th-text="${city.id}"></td>
                    <td data-th-text="${city.name}"></td>
                    <td data-th-text="${city.area}"></td>
                    <td data-th-text="${city.population}"></td>
                    <td>
                        <a class="link-primary" title="Go to this country"
                           data-th-href="@{'/countries?id=' + ${city.country?.id}}"
                           data-th-text="${city.country?.name}"></a>
                    </td>
                    <td class="d-flex justify-content-end gap-2">
                        <button class="btn btn-warning" type="button" title="Edit this city"
                                data-bs-toggle="modal"
                                data-bs-target="#cityModal"
                                data-th-data-bs-modalTitle="@{'Edit City (ID ' + ${city.id} + ')'}"
                                data-th-data-bs-action="edit"
                                data-th-data-bs-cityID="${city.id}"
                                data-th-data-bs-cityName="${city.name}"
                                data-th-data-bs-cityArea="${city.area}"
                                data-th-data-bs-cityPopulation="${city.population}"
                                data-th-data-bs-cityCountry="${city.country?.id}">
                            <i class="bi bi-pen-fill"></i>
                        </button>
                        <a class="btn btn-danger" title="Delete this city"
                           data-th-href="@{'/cities/delete/' + ${city.id}}">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <aside class="modal fade" id="cityModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <section class="modal-content">
                <form method="post">
                    <header class="modal-header">
                        <h1 class="modal-title fs-4" id="cityModalLabel"></h1>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </header>
                    <main class="modal-body d-flex flex-column gap-2">
                        <input id="cityID" type="hidden" name="id">
                        <label class="col-form-label" for="cityName">Name</label>
                        <input class="form-control" id="cityName" type="text" name="name" required>
                        <label class="col-form-label" for="cityArea">Area</label>
                        <input class="form-control" id="cityArea" type="number" name="area" min="0">
                        <label class="col-form-label" for="cityPopulation">Population</label>
                        <input class="form-control" id="cityPopulation" type="number" name="population" min="0">
                        <label class="col-form-label" for="cityCountry">Country</label>
                        <input class="form-control" id="cityCountry" type="number" name="country" min="0">
                    </main>
                    <footer class="modal-footer">
                        <button class="btn btn-secondary" type="reset" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </footer>
                </form>
            </section>
        </div>
    </aside>

    <script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script>
        const modal = document.getElementById("cityModal");

        modal.addEventListener("show.bs.modal", event => {
            const button = event.relatedTarget;

            modal.querySelector("#cityModalLabel").textContent = button.getAttribute("data-bs-modalTitle");
            modal.querySelector("form").action = "/cities/" + button.getAttribute("data-bs-action");
            modal.querySelector("#cityID").value = button.getAttribute("data-bs-cityID");
            modal.querySelector("#cityName").value = button.getAttribute("data-bs-cityName");
            modal.querySelector("#cityArea").value = button.getAttribute("data-bs-cityArea");
            modal.querySelector("#cityPopulation").value = button.getAttribute("data-bs-cityPopulation");
            modal.querySelector("#cityCountry").value = button.getAttribute("data-bs-cityCountry");
        });
    </script>
</body>
</html>
