<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World Data / Continents</title>
    <link rel="stylesheet" type="text/css" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body class="container d-flex flex-column h-100 py-4 gap-2">
    <header class="p-4 rounded bg-dark text-light">
        <h1 data-th-text="${title}"></h1>
    </header>

    <nav class="nav nav-tabs">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link active" aria-current="page" href="/continents">Continents</a>
        <a class="nav-link" href="/countries">Countries</a>
        <a class="nav-link" href="/cities">Cities</a>
    </nav>

    <aside class="d-flex gap-2 px-2">
        <div class="flex-grow-1">
            <div data-th-if="${message}" data-th-text="${message}" class="alert alert-info text-center m-0" role="alert"></div>
        </div>
        <div class="d-flex align-items-center">
            <button class="btn btn-primary" type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#continentModal"
                    data-bs-modalTitle="Create Continent"
                    data-bs-action="save">Create Continent</button>
        </div>
    </aside>

    <main>
        <table class="table table-hover table-striped">
            <thead class="table-secondary">
                <tr>
                    <th>#</th>
                    <th>Continent</th>
                    <th>Area</th>
                    <th>Population</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="continent : ${continents}">
                    <td data-th-text="${continent.id}"></td>
                    <td data-th-text="${continent.name}"></td>
                    <td data-th-text="${continent.area}"></td>
                    <td data-th-text="${continent.population}"></td>
                    <td class="d-flex justify-content-end gap-2">
                        <a class="btn btn-outline-primary" title="Show countries in this continent"
                           data-th-href="@{'/countries?continent=' + ${continent.name}}">
                            <i class="bi bi-globe-europe-africa"></i>
                        </a>
                        <button class="btn btn-warning" type="button" title="Edit this continent"
                                data-bs-toggle="modal"
                                data-bs-target="#continentModal"
                                data-th-data-bs-modalTitle="@{'Edit Continent (ID ' + ${continent.id} + ')'}"
                                data-th-data-bs-action="edit"
                                data-th-data-bs-continentID="${continent.id}"
                                data-th-data-bs-continentName="${continent.name}"
                                data-th-data-bs-continentArea="${continent.area}"
                                data-th-data-bs-continentPopulation="${continent.population}">
                            <i class="bi bi-pen-fill"></i>
                        </button>
                        <a class="btn btn-danger" title="Delete this continent"
                           data-th-href="@{'/continents/delete/' + ${continent.id}}">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <aside class="modal fade" id="continentModal" tabindex="-1" aria-labelledby="continentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <section class="modal-content">
                <form method="post">
                    <header class="modal-header">
                        <h1 class="modal-title fs-4" id="continentModalLabel"></h1>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </header>
                    <main class="modal-body">
                        <input id="continentID" type="hidden" name="id">
                        <label class="col-form-label" for="continentName">Name</label>
                        <input class="form-control" id="continentName" type="text" name="name" required>
                        <label class="col-form-label" for="continentArea">Area</label>
                        <input class="form-control" id="continentArea" type="number" name="area" min="0">
                        <label class="col-form-label" for="continentPopulation">Population</label>
                        <input class="form-control" id="continentPopulation" type="number" name="population" min="0">
                    </main>
                    <footer class="modal-footer">
                        <button class="btn btn-secondary" type="reset" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </footer>
                </form>
            </section>
        </div>
    </aside>

    <script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script>
        const modal = document.getElementById("continentModal");

        modal.addEventListener("show.bs.modal", event => {
            const button = event.relatedTarget;

            modal.querySelector("#continentModalLabel").textContent = button.getAttribute("data-bs-modalTitle");
            modal.querySelector("form").action = "/continents/" + button.getAttribute("data-bs-action");
            modal.querySelector("#continentID").value = button.getAttribute("data-bs-continentID");
            modal.querySelector("#continentName").value = button.getAttribute("data-bs-continentName");
            modal.querySelector("#continentArea").value = button.getAttribute("data-bs-continentArea");
            modal.querySelector("#continentPopulation").value = button.getAttribute("data-bs-continentPopulation");
        });
    </script>
</body>
</html>
