<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World Data / Countries</title>
    <link rel="stylesheet" type="text/css" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body class="container d-flex flex-column h-100 py-4 gap-2">
    <header class="p-4 rounded bg-dark text-light">
        <h1 data-th-text="${title}"></h1>
    </header>

    <nav class="nav nav-tabs">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/continents">Continents</a>
        <a class="nav-link active" aria-current="page" href="/countries">Countries</a>
        <a class="nav-link" href="/cities">Cities</a>
    </nav>

    <aside class="d-flex gap-2 px-2">
        <div class="flex-grow-1">
            <div data-th-if="${message}" data-th-text="${message}" class="alert alert-info text-center m-0" role="alert"></div>
        </div>
        <div class="d-flex align-items-center">
            <button class="btn btn-primary" type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#countryModal"
                    data-bs-modalTitle="Create Country"
                    data-bs-action="save">Create Country</button>
        </div>
    </aside>

    <main>
        <table class="table table-hover table-striped">
            <thead class="table-secondary">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Area</th>
                    <th>Population</th>
                    <th>Continent</th>
                    <th>Capital</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="country : ${countries}">
                    <td data-th-text="${country.id}"></td>
                    <td data-th-text="${country.name}"></td>
                    <td data-th-text="${country.area}"></td>
                    <td data-th-text="${country.population}"></td>
                    <td>
                        <a class="link-primary" title="Go to this continent"
                           data-th-href="@{'/continents?id=' + ${country.continent?.id}}"
                           data-th-text="${country.continent?.name}"></a>
                    </td>
                    <td>
                        <a class="link-primary" title="Go to this city"
                           data-th="href=@{'/cities?id=' + ${country.capital?.id}"
                           data-th-text="${country.capital?.name}"></a>
                    </td>
                    <td class="d-flex justify-content-end gap-2">
                        <a class="btn btn-outline-primary" title="Show all cities in this country"
                           data-th-href="@{'/cities?country=' + ${country.name}}">
                            <i class="bi bi-buildings-fill"></i>
                        </a>
                        <button class="btn btn-warning" type="button" title="Edit this country"
                                data-bs-toggle="modal"
                                data-bs-target="#countryModal"
                                data-th-data-bs-modalTitle="@{'Edit Country (ID ' + ${country.id} + ')'}"
                                data-th-data-bs-action="edit"
                                data-th-data-bs-countryID="${country.id}"
                                data-th-data-bs-countryName="${country.name}"
                                data-th-data-bs-countryArea="${country.area}"
                                data-th-data-bs-countryPopulation="${country.population}"
                                data-th-data-bs-countryContinent="${country.continent?.id}"
                                data-th-data-bs-countryCapital="${country.capital?.id}">
                            <i class="bi bi-pen-fill"></i>
                        </button>
                        <a class="btn btn-danger" title="Delete this country"
                           data-th-href="@{'/countries/delete/' + ${country.id}}">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <aside class="modal fade" id="countryModal" tabindex="-1" aria-labelledby="countryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <section class="modal-content">
                <form method="post">
                    <header class="modal-header">
                        <h1 class="modal-title fs-4" id="countryModalLabel"></h1>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </header>
                    <main class="modal-body d-flex flex-column gap-2">
                        <input id="countryID" type="hidden" name="id">
                        <label class="col-form-label" for="countryName">Name</label>
                        <input class="form-control" id="countryName" type="text" name="name" required>
                        <label class="col-form-label" for="countryArea">Area</label>
                        <input class="form-control" id="countryArea" type="number" name="area" min="0">
                        <label class="col-form-label" for="countryPopulation">Population</label>
                        <input class="form-control" id="countryPopulation" type="number" name="population" min="0">
                        <label class="col-form-label" for="countryContinent">Continent</label>
                        <input class="form-control" id="countryContinent" type="number" name="continent" min="0">
                        <label class="col-form-label" for="countryCapital">Capital</label>
                        <input class="form-control" id="countryCapital" type="number" name="capital" min="0">
                    </main>
                    <footer class="modal-footer">
                        <button class="btn btn-secondary" type="reset" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </footer>
                </form>
            </section>
        </div>
    </aside>

    <script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script>
        const modal = document.getElementById("countryModal");

        modal.addEventListener("show.bs.modal", event => {
            const button = event.relatedTarget;

            modal.querySelector("#countryModalLabel").textContent = button.getAttribute("data-bs-modalTitle");
            modal.querySelector("form").action = "/countries/" + button.getAttribute("data-bs-action");
            modal.querySelector("#countryID").value = button.getAttribute("data-bs-countryID");
            modal.querySelector("#countryName").value = button.getAttribute("data-bs-countryName");
            modal.querySelector("#countryArea").value = button.getAttribute("data-bs-countryArea");
            modal.querySelector("#countryPopulation").value = button.getAttribute("data-bs-countryPopulation");
            modal.querySelector("#countryContinent").value = button.getAttribute("data-bs-countryContinent");
            modal.querySelector("#countryCapital").value = button.getAttribute("data-bs-countryCapital");
        });
    </script>
</body>
</html>
